*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ==========================================================
                        START NAVBAR                */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 15px 30px;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
.navbar .navbar-brand{
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px;
    font-size: 18px;
    text-transform: uppercase ;
}
.navbar-nav .nav-item .nav-link{
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    margin-right: 5px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: blue;
}
/* ==========================================================
                            END NAVBAR                  */
/* ==========================================================
                            Start header                  */
header{
    background-color: rgba(245, 245, 245, 0.678);
    margin-top: 70px;
    padding: 20px 0;
}
header .container .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}
header .container .row strong{
    font-weight: 500;
}
header .container .row span{
    color: rgb(194, 175, 175);
}
header .container .row a{
    text-decoration: none;
}
/* ==========================================================
                                End header                  */
/* ==========================================================
                               Section 1                  */
.section1{
    padding: 80px 0;
}
.section1 .input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}
.section1 .input-group-append, .input-group-prepend {
    display: flex;
}
.section1 .btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(121, 113, 234);
    border-color: rgb(121, 113, 234);
}
.section1 .container .r1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}
.section1 .container .r1 table{
    text-align: center;
    border:1px solid rgb(194, 182, 182);
}
.section1 .container .r1 table td,th,tr{
    border:1px solid rgb(194, 182, 182);
}
.section1 .container .r1 table th{
   padding: 25px 0;
}
.section1 .container .r1 table .title{
    font-size: 19px;
    font-weight: 500;
}
.section1 .container .r1 table p{
    margin-top: 40px;
}
.section1 .container .r1 table a{
    margin-top: 30px;
    background-color: rgba(0, 0, 255, 0.548);
    color: white;
    padding: 10px 20px;
}
.section1 .container .r1 table a:hover{
    background-color: rgba(0, 0, 255, 0.705);
    box-shadow: 0 5px 10px rgba(25, 25, 25, 0.308);
}
.section1 .container .r1 table td .mb-5{
    margin-top: 35px;
    margin-left: 15px;
}
.section1 .container .r2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}
.section1 .container .r2 .cart-total .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .container .r2 a{
    text-decoration: none;
}
.section1 .container .r2 .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .container .r2 .links-coupon .link #link-1{
    background-color: rgb(121, 113, 234);
    color: white;
    letter-spacing: 2px;
    padding: 10px 70px 10px 70px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.section1 .container .r2 .links-coupon .link #link-2{
    color: rgb(121, 113, 234);
    border: 1px solid rgb(121, 113, 234);
    padding: 10px 35px;
    border-radius: 3px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.section1 .container .r2 .links-coupon .link #link-1:hover{
    background-color: rgba(0, 0, 255, 0.705);
    box-shadow: 0 5px 10px rgba(25, 25, 25, 0.308);
}
.section1 .container .r2 .links-coupon .link #link-2:hover{
    background-color: rgba(0, 0, 255, 0.705);
    box-shadow: 0 5px 10px rgba(25, 25, 25, 0.308);
    color: white;
}
.section1 .container .r2 .coupon h4{
    font-size: 21px;
    font-weight: 500;
    margin-top: 30px;
}
.section1 .container .r2 .coupon p{
    color:rgb(160, 148, 148);
}
.section1 .container .r2 .coupon .text{
    display: flex;
    flex-wrap: wrap;
}
.section1 .container .r2 .coupon input{
    border: 1px solid rgba(160, 148, 148, 0.534);
    outline: none;
    padding: 8px 0px;
    width: 350px;
    border-radius: 5px;
}
.section1 .container .r2 .coupon input:hover{
    border: 1px solid rgb(121, 113, 234);
}
.section1 .container .r2 .coupon a{
    background-color: rgb(121, 113, 234);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 10px;
}
.section1 .container .r2 .coupon a:hover{
    background-color: rgba(0, 0, 255, 0.705);
    box-shadow: 0 5px 10px rgba(25, 25, 25, 0.308);
}
.section1 .container .r2 .cart-total .title h3{
    text-align: center;
    font-size: 22px;
}
.section1 .container .r2 .cart-total .d1{
    margin-top: 40px;
}
.section1 .container .r2 .cart-total .d2{
    margin-top: 20px;
}
.section1 .container .r2 .cart-total a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    margin-top: 40px;
    background-color: rgb(121, 113, 234);
    color: white;
    border-radius: 5px;
    letter-spacing: 3px;
}
.section1 .container .r2 .cart-total a:hover{
    background-color: rgba(0, 0, 255, 0.705);
    box-shadow: 0 5px 10px rgba(25, 25, 25, 0.308);
}
/* ==========================================================
                               End Section 1                  */
/*==========================================================
                            Start FOOter               */
.footer{
    padding-bottom: 20px;
}
.footer .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer .container .row .div1 .div1-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container .row .div2{
    margin-top: 35px;
}
.footer .container .row .div3{
    margin-top: 130px;
}
.footer .container .row a{
    text-decoration: none;
}
.footer .container .row h4{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer .container .row .div1 .div1-ul a{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.61);
}
.footer .container .row .div1 .div1-ul a:hover{
    color: rgba(0, 0, 255, 0.671);
}
.footer .container .row .div1 .div1-ul li{
    margin-bottom: 15px;
}
.footer .container .row .div2 img{
    margin-bottom: 20px;
}
.footer .container .row .div2 p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.61);
}
.footer .container .row .div3 .div3-con #email{
    margin-top: 15px;
}
.footer .container .row .div3 .div3-con a{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.61);
}
.footer .container .row .div3-con a:hover{
    color: rgba(0, 0, 255, 0.671);
}
.footer .container .row .div3-con p{
    font-size: 15px;
}
.footer .container .row .div3 .div3-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer .container .row .div3-sub h4{
    font-size: 19px;
    font-weight: 350;
    margin-top: 20px;
}
.footer .container .row .div3-sub .email{
    padding: 9px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.295);
} 
.footer .container .row .div3-sub .submit{
    padding: 6px 76px;
    margin-top: 15px;
    background-color:rgba(0, 0, 255, 0.486);
    border: none;  
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
}
.footer .container .r2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .container .r2 p{
    margin-top: 120px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.61);
}
/*==========================================================
                            END footer              */
@media only screen and (max-width:576px){
    .section1 .container .r2 .links-coupon .link{
        flex-direction: column;
    }
    .section1 .container .r2 .links-coupon .link #link-1{
        width: 100%;
    }
    .section1 .container .r2 .links-coupon .link #link-2{
        margin-top: 20px;
        width: 100%;
    }
    .section1 .container .r2 .links-coupon .coupon a{
        margin-left: 0;
        margin-top: 20px;
    }
    .section1 .container .r2 .links-coupon .coupon input{
        width: 100%;
    }
    .section1 .container .r2 .cart-total{
        margin-top: 30px;
    }
    .footer .container .row .div1{
        margin-top: 35px;
    }
    .footer .container .row .div3{
        margin-top: 35px;
    }
}
@media only screen and (min-width:577px) and (max-width:767px){
    .section1 .container .r2 .links-coupon .coupon a{
        margin-left: 0;
        margin-top: 20px;
    }
    .section1 .container .r2 .links-coupon .coupon input{
        width: 100%;
    }
    .section1 .container .r2 .cart-total{
        margin-top: 30px;
    }
    .footer .container .row .div1{
        margin-top: 35px;
    }
    .footer .container .row .div3{
        margin-top: 35px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    .section1 .container .r2 .link{
        justify-content: space-around;
    }
    .section1 .container .r2 .cart-total{
        margin-top: 50px;
    }
    .footer .container .row .div3{
        margin-top: 35px;
    }
    .section1 .container .r2 .links-coupon .link #link-1{
        padding: 7px 50px;
        font-size: 12px;
    }
    .section1 .container .r2 .links-coupon .link #link-2{
        padding: 7px 20px;
        font-size: 12px;
        margin-left: 10px;
    }
    .section1 .container .r2 .links-coupon .coupon a{
        margin-left: 0;
        margin-top: 20px;
    }
    .section1 .container .r2 .cart-total a{
        padding: 10px 15px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .section1 .container .r2 .coupon a{
        padding: 7px 15px;
        font-size: 12px;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px){
    .section1 .container .r2 .link #link-2{
        margin-left: 10px;
    }
    .section1 .container .r2 .links-coupon .coupon a{
        margin-left: 0;
        margin-top: 20px;
    }
}